@model SimpleBlog.FrontEnd.ViewModels.PostDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Post.Title} - Simple Blog";

    var bgRand = {Model.Post.ColourGroup};
}

@if(Model.Post != null) 
{
    <h1>@Model.Post.Title</h1> <h5><a href="Index.chtml">Home</a> / <a href="/Post/Details.chtml">Posts</a> </h5>
    
    <div class="row mb-1">
        <div class="col-md-12">
            <h2><img src="https://via.placeholder.com/1920x600/@bgRand.Next(100000, 1000000)/ffffff?text=@Model.Post.Title" alt="@Model.Post.Title" class="img-responsive" /></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @Model.Post.Body
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            @Model.Post.Body
        </div>
        <div class="col-md-12">
            @Model.Comments.CommentsCount
        </div>
    </div>

    <h2>What people say</h2>
    foreach(var comment in Model.Comments) 
    {
        <div class="row">
            <div class="col-md-1">
                <a href="mailto:@comment.Avatar.emailID"><img src="@comment.Avatar" alt="@comment.Name" class="img-responsive" /></a>
            </div>
            <div class="col-md-5">
                <h3>@comment.Name</h3>
                <p>@comment.Body</p>
            </div>
        </div>
    }
} else {
    <p>Post not found. Sorry.</p>
}